.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D2423;  // marrón del sidebar
  color: #EAD585;             // beige claro
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome-message {
  font-size: 1.2rem;
  font-weight: 500;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.7rem;
  border: 2px solid #EAD585;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: #4A1A17;
  color: #EAD585;
}

.user-name {
  font-weight: 700;
  margin-right: 1rem;
}

.logout-btn {
  background-color: transparent;
  border: 1px solid #EAD585;
  color: #EAD585;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #EAD585;
    color: #6D2423;
  }
}
